.recipe {
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #f7f6ee;
  align-items: center;
  width: 40%;
}

.image {
  border-radius: 70%;
  width: 200px;
  height: 200px;
}
